#wrapper_QJmG {
  display: grid;
  grid-template-rows: 80vh 1fr 80vh;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  max-width: 100vw;
}

#header_PidF,
#footer_fkLa {
  background-color: #3c3c4e;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#header_PidF > article,
#footer_fkLa > article,
#wrapper_QJmG > #main_XPOa {
  max-width: 74rem;
  width: 100%;
  margin: 0 auto;
}

#header_PidF > article,
#footer_fkLa > article {
  background-color: white;
  height: 40vh;
  margin: 0 2rem;
  padding: 2rem;
}

#header_PidF {
  align-items: end;
  text-align: center;
  background-image: url('https://chx4-jobs-api-uat.azurewebsites.net/api/document/getfile?name=212b5712-1fc1-4ee8-bed6-69f3ffc73747.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 -25rem;
}

#header_PidF > article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#header_PidF > article > img {
  width: 200px;
  height: 150px;
  margin: 0 auto;
}

.heading2_tgfq {
  font-weight: bolder !important;
  font-size: 2.4rem !important;
}

.heading3_6VW6 {
  font-size: 2rem !important;
}

#main_XPOa {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  background: white;
}

#main_XPOa > * {
  margin: 2rem;
  text-align: center;
}

.card_YmM2 {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
  width: 90%;
}

.card_YmM2 > img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.wide-img {
  width: 200px !important;
  height: 157px !important;
}

.tall-img {
  width: 100px !important;
  height: 212px !important;
}

.card_YmM2 > div {
  width: 100%;
  height: 100%;
  margin: 0 1rem;
}

.card_YmM2 .heading3_6VW6,
.card-body_GvOy {
  margin: 0;
}

.card_YmM2 .card-title_nGZm {
  font-weight: 500 !important;
  font-size: 1.3rem !important;
}

.card-body_GvOy {
  font-weight: 400 !important;
  font-size: 1.2rem !important;
}

#footer_fkLa > article {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
}

#footer_fkLa > article > div {
  padding: 0 4rem;
  text-align: center;
}

/* Link styled to be a button */
.link_HzdV {
  background-color: #3c3c4e;
  color: white;
  font-size: 2rem !important;
  font-weight: 500 !important;
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  text-decoration: none !important; 
}

.link_HzdV:hover {
  background-color: #2e2e3d;
  cursor: pointer;
}

.link_HzdV:active {
  background-color: #20202b;
  cursor: pointer;
}

#footer_fkLa > article > img {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .heading2_tgfq {
    font-size: 2rem !important;
  }

  .heading3_6VW6 {
    font-size: 1.6rem !important;
  }

  .card_YmM2 {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    place-items: center;
  }

  .card_YmM2 > img {
    width: 160px;
    height: 160px;
  }

  #footer_fkLa img {
    display: none;
  }
}
