<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <script src="/script.js" defer></script>
    <title>Document</title>
  </head>
  <body class="h-screen grid grid-rows-[4rem,_1fr]">
    <!-- HEADER -->
    <header class="bg-secondary">
      <nav
        class="max-w-4xl h-full mx-auto flex justify-between items-center text-white"
      >
        <a class="mx-4" href="/">Logo</a>
      </nav>
    </header>
    <div class="hero bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">
            Register for an account
          </h1>
          <% if (usernameTaken) { %>
            <div class="alert alert-error shadow-lg">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span>Error! Username already in use.</span>
              </div>
            </div>
          <% } %>
          <form class="form-control" action="/register" method="post">
            <label class="label" for="username">Username</label>
            <input class="input input-bordered" name="username" placeholder="username" type="text" />
            <label class="label" for="password">Password</label>
            <input class="input input-bordered" name="password" placeholder="password" type="text" />
            <button class="btn btn-secondary my-4">Sign Up</button>
          </form>
          <button class="link link-hover" value="log-in-form" data-modal_switcher>Or log in to your account</button>
        </div>
      </div>
    </div>
  </body>
</html>
